<% if current_user %>
  <p>ようこそ <%= current_user.name %> さん</p>
<% end %>


<% if user_signed_in? %>  
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
<% end %>

<h1>Your Recipes</h1>

<%= link_to '新しいレシピを投稿する', new_recipe_path %> <% @recipes.each do |recipe| %>
  <div>
    <h2><%= recipe.title %></h2>
    <p>内容: <%= recipe.content %></p> <p>作成者ID: <%= recipe.user_id %></p>
    <hr>
  </div>  
<% end %>

<% if @recipes.empty? %>
  <p>まだレシピがありません</p>
<% else %>  
  <% @recipes.each do |recipe| %>
    <div>
      <h2><%= recipe.title %></h2>
      <p>内容: <%= recipe.content %></p>
      <p>作成者ID: <%= recipe.user_id %></p>
      <hr>
    </div>
  <% end %>
<% end %>  
