<%= User.first.name %>

<h1>レシピ一覧</h1>

<%= link_to '新しいレシピを投稿する', new_recipe_path %> <% @recipes.each do |recipe| %>
  <div>
    <h2><%= recipe.title %></h2>
    <p>内容: <%= recipe.content %></p> <p>作成者ID: <%= recipe.user_id %></p>
    <hr>
  </div>  
<% end %>

<% if @recipes.empty? %>
  <p>まだレシピがありません</p>
<% else %>  
  <% @recipes.each do |recipe| %>
    <div>
      <h2><%= recipe.title %></h2>
      <p>内容: <%= recipe.content %></p>
      <p>作成者ID: <%= recipe.user_id %></p>
      <hr>
    </div>
  <% end %>
<% end %>  
